{% extends "master.html" %}

{% block title %}Conecopia Gelato - Arlington Farmers Market Gelato {% endblock title %}

{% block content %}
    <h1>Conecopia Gelato</h1>

    <h3>Our Gelataria</h3>
    <p>
        We are a family owned and operated Italian ice cream (gelato) stand serving neighborhood farmers markets in the Northern Virginia area.
Conecopia Gelato uses the same methods as Italian artisans  to produce "scratch made" small batch gelato using only fresh, high-quality ingredients. We take pride in creating seasonal flavors using the time-honored traditions of Italy.  So, stop by and enjoy our fresh artisan gelato made locally for you.
    </p>

    <h3>Find Us</h3>
    <p>
        Freshfarm Farmers Market<br/>
        Arlington Courthouse<br/>
        1400 N Courthouse  Rd<br/>
        Arlington, Virginia<br/>
        Saturdays 8:00 am - 12:00 pm<br/>
    </p>
    <h3>Contact Tony at ~</h3>
    <p>
        Email: conecopiagelato@gmail.com<br/>
        Text / Call: (703) 989-4308<br/>
    </p>

    <a href="/order">Pre-order Gelato</a>

    <section>
        Location and Hours of Operation
    <location>
{% endblock content %}