*.pyc
__pycache__
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.env
.venv
venv/
env/
.DS_Store
*.sqlite3
*.db
media/
.coverage
htmlcov/
.pytest_cache/
node_modules/
npm-debug.log