asgiref==3.8.1
boto3==1.36.24
botocore==1.36.24
certifi==2024.8.30
charset-normalizer==3.4.0
Django==4.2.17
django-storages==1.14.5
idna==3.10
jmespath==1.0.1
load-dotenv==0.1.0
nanoid==2.0.0
pillow==11.1.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.32.3
s3transfer==0.11.2
six==1.17.0
sqlparse==0.5.2
stripe==11.3.0
typing_extensions==4.12.2
urllib3==1.26.20
gunicorn
psycopg[binary]
dj-database-url
mailjet-rest