{% load static %}

<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'master.css' %}">
    <script src="{% static 'preline.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
  <title>{% block title %}{% endblock %}</title>
</head>
<body class="flex flex-col justify-center items-center gap-4">

  <div class="
    flex flex-col justify-center 
    xl:max-w-screen-xl xl:min-w-screen-xl
    lg:max-w-screen-lg lg:min-w-screen-lg
    md:max-w-screen-md md:min-w-screen-md
    sm:max-w-screen-sm
  ">

    {% block navigation %}
    {% endblock %}

    <div class="min-h-[85vh]">
      {% block content %}
      {% endblock %}
    </div>
  </div>

  <footer 
    class='flex flex-col gap-2 justify-center items-center text-center p-4 bg-red-200 w-full text-white h-[300px] bg-[url("/static/scoops.png")] bg-[length:200px_200px]'
    style='background-blend-mode: multiply;'
  >
    
    <p class="font-bold bg-white rounded-full text-black inline-block p-2 px-4">&copy; 2025</p>
    <a class="text-xs text-neutral-500 bg-white rounded-full text-black inline-block p-2 px-4" target="blank" href="https://joeldesante.com">Website designed and developed by <span class="underline underline-offset-4 hover:text-red-600">Joel DeSante</span>.</a>
    
  </footer>

</body>
</html>