{% extends "master.html" %}

{% load humanize %}
{% load filters %}

{% block title %}Shopping Cart{% endblock title %}

{% block content %}

<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
    <ul>
        <li><a href="/order">Conecopia's Menu</a></li>
        <li class="is-active"><a href="#" aria-current="page">Shopping Cart</a></li>
    </ul>
</nav>

<h1>Your Shopping Cart</h1>
<ul>
    {% for item in shopping_cart.items %}
        <li>
            {{ item.product.name }} |
            QTY: {{ item.quantity }} |
            ${{ item.total_price|divide:100|floatformat:2|intcomma }}
        </li>
    {% endfor %}

    <p><strong>Total:</strong> ${{ total_order_price|divide:100|floatformat:2|intcomma }}</p>
</ul>
{% endblock content %}