{% extends "master-catalogue.html" %}

{% load humanize %}
{% load filters %}

{% block title %}Shopping Cart{% endblock title %}

{% block content %}
<ol class="flex items-center whitespace-nowrap mb-4">
    <li class="inline-flex items-center">
        <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" href="/order">
            Conecopia's Menu
        </a>

        <svg class="shrink-0 mx-2 size-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="m9 18 6-6-6-6"></path>
        </svg>
        
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-gray-800 truncate" aria-current="page">
        Shopping Cart
    </li>
</ol>

<nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
    <ul>
        <li><a href="/order">Conecopia's Menu</a></li>
        <li class="is-active"><a href="#" aria-current="page">Shopping Cart</a></li>
    </ul>
</nav>

<h1>Your Shopping Cart</h1>
<ul>
    {% for item in shopping_cart.items %}
        <li>
            {{ item.product.name }} |
            Qty: {{ item.quantity }} |
            ${{ item.total_price|divide:100|floatformat:2|intcomma }}
        </li>
    {% endfor %}

    <p><strong>Total:</strong> ${{ shopping_cart.total_order_price|divide:100|floatformat:2|intcomma }}</p>
</ul>
{% endblock content %}