{% extends "master.html" %}

{% block title %}
    Flavor Name - REPLACE ME
{% endblock %}

{% load humanize %}
{% load filters %}

{% block navigation %}

<script>

    function removeItemFromCart(productId) {

        // 1. Create a AJAX request to add the item to cart
        const data = new FormData();
        data.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        data.append("product_id", productId.toString());

        const addToCartRequest = fetch("/order/functions/remove_product_from_cart", {
            method: "POST",
            body: data
        }).then((response) => {
            // 2. If the AJAX request succeeds (200 OK) then redirect the user to /order
            if(!response.ok) {
                throw new Error(response.statusText);
            }
            window.location.href = window.location.href
        }).catch((err) => {
            // 3. Otherwise notify the user of the error
            console.warn(err)
        })

    }
</script>

<nav class="flex flex-row justify-between items-center p-4 px-0 border-b mb-2">
    <div class="flex gap-8 items-center">
        <a 
            href="/" 
            class="font-bold text-xl flex gap-[0.5px]
                [&>*]:transition [&>*]:transition-all [&>*]:ease-in-out 
                [&>*]:m-0 [&>*]:text-black

                [&>*:nth-child(7n+1)]:hover:text-red-700
                [&>*:nth-child(7n+2)]:hover:text-orange-600
                [&>*:nth-child(7n+3)]:hover:text-yellow-500
                [&>*:nth-child(7n+4)]:hover:text-green-600
                [&>*:nth-child(7n+5)]:hover:text-blue-600
                [&>*:nth-child(7n+6)]:hover:text-indigo-700
                [&>*:nth-child(7n+7)]:hover:text-violet-700
            "
        >
            <span class="delay-[0ms] duration-300">C</span>
            <span class="delay-[20ms] duration-300">O</span>
            <span class="delay-[40ms] duration-300">N</span>
            <span class="delay-[60ms] duration-300">E</span>
            <span class="delay-[80ms] duration-300">C</span>
            <span class="delay-[100ms] duration-300">O</span>
            <span class="delay-[120ms] duration-300">P</span>
            <span class="delay-[140ms] duration-300">I</span>
            <span class="delay-[160ms] duration-300">A</span>
            &nbsp;
            <span class="delay-[180ms] duration-300">G</span>
            <span class="delay-[200ms] duration-300">E</span>
            <span class="delay-[220ms] duration-300">L</span>
            <span class="delay-[240ms] duration-300">A</span>
            <span class="delay-[260ms] duration-300">T</span>
            <span class="delay-[280ms] duration-300">O</span>
        </a>
        <ol class="inline-flex gap-4">
            <li class="text-sm hover:text-red-600"><a href="/order">Flavors Menu</a></li>
            <li class="text-sm hover:text-red-600"><a href="/">About us</a></li>
        </ol>
    </div>
    <button type="button" 
        class="inline-flex justify-center items-center gap-x-2 text-start text-black text-sm font-medium align-middle" 
        aria-haspopup="dialog" 
        aria-expanded="false" 
        aria-controls="shopping-cart-sidebar" 
        aria-label="Toggle navigation" 
        data-hs-overlay="#shopping-cart-sidebar">
        
        {{ shopping_cart.total_order_quantity }}
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
            <path fill-rule="evenodd" d="M7.5 6v.75H5.513c-.96 0-1.764.724-1.865 1.679l-1.263 12A1.875 1.875 0 0 0 4.25 22.5h15.5a1.875 1.875 0 0 0 1.865-2.071l-1.263-12a1.875 1.875 0 0 0-1.865-1.679H16.5V6a4.5 4.5 0 1 0-9 0ZM12 3a3 3 0 0 0-3 3v.75h6V6a3 3 0 0 0-3-3Zm-3 8.25a3 3 0 1 0 6 0v-.75a.75.75 0 0 1 1.5 0v.75a4.5 4.5 0 1 1-9 0v-.75a.75.75 0 0 1 1.5 0v.75Z" clip-rule="evenodd" />
        </svg>
          

    </button>
</nav>

<div 
    id="shopping-cart-sidebar" 
    class="hs-overlay hs-overlay-open:translate-x-0 hidden translate-x-full fixed top-0 end-0 transition-all duration-300 transform h-full max-w-xs w-full z-[80] bg-white border-s" 
    role="dialog" 
    tabindex="-1" 
    aria-labelledby="shopping-cart-label"
>
    <div class="flex justify-between items-center py-3 px-4 border-b">
    
        <h3 id="shopping-cart-label" class="font-bold text-gray-800">
            Shopping Cart
        </h3>

        <button 
            type="button" 
            class="size-8 inline-flex justify-center items-center gap-x-2 rounded-full border border-transparent bg-gray-100 text-gray-800 hover:bg-gray-200 focus:bg-gray-200 disabled:opacity-50 disabled:pointer-events-none" 
            aria-label="Close" 
            data-hs-overlay="#shopping-cart-sidebar"
        >
            <span class="sr-only">Close</span>
            <svg class="shrink-0 size-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M18 6 6 18"></path>
                <path d="m6 6 12 12"></path>
            </svg>
        </button>

    </div>

    <div class="flex flex-col">
        {% for item in shopping_cart.items %} 
            <div class="flex flex-col px-4 py-2 gap-1">
                <p class="text-sm">{{ item.product.name }}</p>
                <p class="text-xs text-neutral-600">Qty: {{ item.quantity }}</p>
                <p class="text-sm">${{ item.total_price|divide:100|floatformat:2|intcomma }}</p>
                <a href="javascript:void(0);" onclick='removeItemFromCart({{ item.product.id }})' class="text-xs underline underline-offset-3 hover:text-red-600 active:text-red-700">Remove</a>
            </div>
        {% endfor %}
    </div>

    <div class="flex flex-col px-4 py-3 border-t gap-4">
        <p class="text-md font-semibold">Total ${{ shopping_cart.total_order_price|divide:100|floatformat:2|intcomma }}</p>
        <div class="grid grid-cols-2 gap-2">
            <a 
                type="button" 
                class="py-3 px-4 inline-flex items-center justify-center gap-x-2 text-sm font-medium rounded border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none"
                href="/order/cart"
            >
                View Cart
            </a>
            <a 
                type="button"
                class="py-3 px-4 inline-flex items-center justify-center gap-x-2 text-sm font-medium rounded border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                href="/order/checkout"
            >
                Checkout
            </a>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}