{% extends "master.html" %}

{% block title %}
    {{ product.name }} Gelato
{% endblock %}

{% block content %}
    <nav class="breadcrumb has-succeeds-separator" aria-label="breadcrumbs">
        <ul>
            <li><a href="/order">Conecopia's Menu</a></li>
            <li class="is-active"><a href="#" aria-current="page">{{ product.name }}</a></li>
        </ul>
    </nav>

    <section>
        <h1>{{ product.name }}</h1>
        <p>{{ product.description }}
    </section>
    <section>
        <button class="button is-primary">Add to Cart</button>
    </section>
{% endblock content %}